**Python Practice**

This assignment is to get started with a practice to Python for Data Science.

Choose any 6 questions out of the questions below. 6 questions will be graded and the rest can be utilized for some practice.

Create a string variable greeting containing "Hello, " and another variable name containing your name. Concatenate these variables to form a greeting message and print it

In [ ]:
#Im impressed with the simplicity of the codes compared to what I'm used to when dealing wit python and other languages.
greeting = "Hello,"
name = "Nevaeh"
message = greeting+name
print(message)

Hello,Nevaeh

Write a Python program which accepts a sequence of comma-separated numbers
from the user and generate a list with those numbers. Arrange them in ascending order

In [ ]:
#Your answer must go here

Write a Python program to display the first and last letters from the given list of names: ["Adam","Alex","Emmanuel" ,"Robert", "Finn"].

In [ ]:
## Definity wanted to make it look neater so I seperated the equil signs and yet it still looks a little cluttered lol

names = ["La'landra", "Ta'Corey", "Sarae", "Naiyalli", "Jasmine"]
for n in names:
  first=n[0]
  last=n[-1]
  print(f"{n}: First = {first}, Last = {last}")

La'landra: First = L, Last = a
Ta'Corey: First = T, Last = y
Sarae: First = S, Last = e
Naiyalli: First = N, Last = i
Jasmine: First = J, Last = e

Take a string as an input. Write a python program to create a new string using the first, middle, and last characters of the input string.

In [ ]:
#Your answer must go here

Write a python program to take a string as an input and reverse it

In [ ]:
# This One seemed the most interesting out of them all to me

text=input("Enter a string: ")
reversed_text=text[::-1]
print("Reversed String: ", reversed_text)

Enter a string: Ridiculous
Reversed String:  suolucidiR

**Collections**

Take an input of numbers in a list and create a new list containing only the even numbers from the original list.

In [ ]:
#Your answer must go here

Take a list of strings (words) and create a new list containing the lengths of each word in the original list.

In [ ]:
words=["Rich", "Poor", "Real", "Fake", "Selfish", "Selfless"]
lengths=[len(word) for word in words]
print(lengths)

[4, 4, 4, 4, 7, 8]

Create a dictionary student_grades with keys as student names and values as their respective grades. Find the student with the highest grade and print the output

In [ ]:
#I thought i can make it look a little more impressive if i threw in a close decimal
student_grades= {"Racheal": 95.643, "Chris": 60, "La'landra": 88, "Chrystal": 95.642}
top_student = max(student_grades, key= student_grades.get)
print(f"{top_student}: {student_grades[top_student]}")

Racheal: 95.643

Define two sets, set1 and set2, containing some common elements. Remove the duplicate elements from set1 that are also present in set2.

In [ ]:
## The numbers 2 and 5 are not in set 2. Please let me know if i ended up just reading this wrong I will fix if needed
set1= {6, 2, 3, 4, 5}
set2= {3, 4, 8, 6, 7}
set1 = set1 - set2
print(set1)

{2, 5}

Create a dictionary word_count to count the occurrences of each word in a given sentence. Print the top 3 most common words along with their counts.

In [ ]:
# I attempted this one and was lost